* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0a0a23;
  text-align: center;
}

h1 {
  font-size: 3rem;
  margin: 3rem 0 0;
  color: whitesmoke;
}

.container {
  margin: 3rem auto;
  background-color: whitesmoke;
  width: 35%;
  height: 25vh;
  padding: 1rem;
  border-radius: 20px;
  box-shadow: 4px 4px 10px #171758;
  p {
    margin-bottom: 2rem;
    font-size: 1.2rem;
  }
  input {
    width: 60%;
    height: 5vh;
    border: whitesmoke;
    border-bottom: 2px solid #5a01a7;
    text-align: center;
    font-size: 1.2rem;
  }
  button {
    width: 80px;
    height: 30px;
    border-radius: 25px;
    color: whitesmoke;
    background-color: #5a01a7;
    border: none;
  }
  button:hover {
    cursor: pointer;
  }
}

.hint-container {
  margin: 3rem auto;
  background-color: #00471b;
  width: 35%;
  height: auto;
  font-size: 2rem;
  color: white;
  text-align: start;
  padding: 1rem;
  border-radius: 20px;
  box-shadow: 4px 4px 10px #171758;
  span {
    height: 100%;
  }
}
